
footer {
	text-align: center;
}	

body {
	background-color: white;
	font-family: Helvetica;
	color: silver;
	max-width: 780px;
	margin: 40px auto;
}

.name {
	display: inline-block;
	font-size: 54px;
	position: absolute;
	top: 150px;

}

.puppys {
	display: flex;
	flex-direction: row;
	align-content: space-around;
}

.dog {
	padding: 10px;
}